/* src/styles/styles.css */
  
  body {
    font-family: 'EB Garamond', serif;
  }
  /* styles.css */

.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsif */
  gap: 16px;
}

.item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

img {
  max-width: 100%; /* Gambar tidak lebih dari 100% lebar kontainer */
  height: auto; /* Tinggi otomatis */
}

/* Media Query */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
